.list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  padding: 36px;
}
.button {
  background-color: rga(18, 116, 18, 0.6);
  border-radius: 30px;
  border: 2px solid rgb(18, 116, 18);
  color: black;
  font-size: 32px;
  padding: 8px 32px;
}